<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>OddChopstix</title>
	<!-- bootstrap -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<!-- slick for carousels -->
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>

	<link rel="stylesheet" href="css/dropzone.css">
<!-- 	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/> -->

	<!-- custom stylesheet -->
	<link rel="stylesheet" type="text/css" href="css/style.css">

	<!-- fontawesome icons -->
	<script src="https://use.fontawesome.com/abc665bb20.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
	<!-- popper.js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<!-- jquery -->
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>	
	<!-- bootstrap js? -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
	<!-- slick js -->


	<!-- js dropzone  -->
	<script type="text/javascript". src="./js/dropzone.js"></script>
	<!-- js photo -->
	<script type="text/javascript" src="./js/photodrop.js"></script>
	<!-- js post new -->
	<script type="text/javascript" src="./js/post.js"></script>
	<!-- js get from server -->
	<script type="text/javascript" src="./js/get.js"></script>
	<!-- js open/do stuff to html -->
	<script type="text/javascript" src="./js/html.js"></script>

	<script type="text/javascript" src="jquery.min.js"></script>
	<script type="text/javascript" src="jquery.ui.widget.js"></script>
	<script type="text/javascript" src="jquery.iframe-transport.js"></script>
	<script type="text/javascript" src="jquery.fileupload.js"></script>
	<script type="text/javascript" src="jquery.cloudinary.js"></script>


	</head>
	<body>
		{{{ body }}}
	</body>
</html>