/*TABLE OF CONTENTS
1. NAVBAR
2. JUMBOTRON
3. MODALS
4. SLICK CAROUSELS
  4a. CAROUSEL IMG & CAPTION
  4b. SLICK ARROWS
5.
6. Multiple Elements

/* Header Designations */
  
   /* h1 = Jumbotron title
    h4 = Carousel titles
    h5 = Carousel image captions
*/

    body {
     background-color: #fae4d4; 
     /* background-image: url(https://www.missionrs.com/media/catalog/product/cache/1/image/1800x/040ec09b1e35df139433887a97daa66f/j/a/jaxpro_dark_wood.jpg); */
  
    }
/* ****************************************** 
/* 1. NAVBAR */
/* ========================================== */


.newPairBtn {
  margin-right: 0.5rem;
}


#navbarToggleExternalContent {
  background-color: #e7863c;
  opacity: 0.90;
  }


/* ****************************************** */
/* 2. JUMBOTRON */
/* ========================================== */
.jumbotron {
	  margin-bottom: 0px;
    background-image: url(https://static.pexels.com/photos/370984/pexels-photo-370984.jpeg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.75;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}

.card {
  width: 13%;
}

.button-toolbar {
  padding: 3px 3px 3px 3px;
}
 #newPairingModalBtn {
  background-color: white;
  opacity: 90%;
  color: black;
  border: 2px solid lightgrey;
  border-radius: 2px;
  box-shadow: black 0.3em 0.3em 0.3em;
 }

/* ****************************************** */
/* 3. MODALS */
/* ========================================== */
.modal-content-rating {
  background-color: gold;
  opacity: 0.90; 
/*  background-color: #e7863c;
  background-color: rgb(139, 190, 224);*/
  width: 110%;
}
.modal-content-food {
  background-color: firebrick;
  opacity: 0.90; 
/*  background-color: #e7863c;
  background-color: rgb(139, 190, 224);*/
  width: 110%;
}
.modal-content-alc {
  background-color: #e7863c;
  opacity: 0.90; 
/*  background-color: #e7863c;
  background-color: rgb(139, 190, 224);*/
  width: 110%;
}

.modal-content-pairing {
  background-color: firebrick;
  opacity: 0.90; 
  width: 800px;
  height: 800px;
}


.model-title {
  font-family: 'Abril Fatface', cursive;
  color: white;
}

.post-modal-form-rows {
  padding-left: 2%;
  padding-right: 2%;
}

/*.modal-body {
  background-color: rgb(139, 190, 224);
}*/
.close {
  margin-left: 0px;
}

.img-clicked {
  border-color: blue;
  border: solid;
}

.food-alc-pics {
  margin: 5px;
}
/*
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}*/

/* ****************************************** */
/* 4. SLICK CAROUSEL STUFF */
/* ========================================== */

.carousel h4 {
  margin-left: .5rem;
}
.carousel h4 {
    text-align: center;
}

#alcohol-carousel {
  margin-top: 10%;
}

#food-search {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

#alcohol-search {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.slick-slide {
  position: relative;
}



/* ****************************************** */
/* 4a. CAROUSEL IMG & CAPTION */
/* ========================================== */
.carousel {
  font-family: 'Roboto', sans-serif;
  color: firebrick;
}
.slick-slide img {
  width: 80%;
  height: 250px;
  box-shadow: none;
  border: 10px solid white;
}

/*image caption*/
.slick-slide h5 {
  display: none;
  color: white;
  width: 80%;
  height:20%;
  position: absolute;
  text-indent: 15px;
  margin-bottom: 0px;
  bottom: 0;
  left: 0;
  text-align: center
  background: #e7863c;
  background: linear-gradient(to top, #e7863c 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.slick-slide:hover h5 {
  display: block;
}

/* ****************************************** */
/* 4b. SLICK ARROWS */
/* ========================================== */
.slick-arrow {
  background-color: #fff;
  background: transparent;
  border: none;
  position: absolute;
  line-height: 0;
  display: block;
  height: 40px;
  width: 40px;
  padding: 0;
  border: none;
  outline: none;
  top: 50%;
  margin-top: -10px;
}

.slick-arrow:active, .slick-arrow:focus {
  outline: 0;
  border: none;
}

.slick-prev {
  top: 50%;
  left: -42px;
}

.slick-next {
  bottom: 50%;
  right: -15px;
}

/* ****************************************** */
/* 6. Multiple Elements */
/* ========================================== */

/*Hover Pointer for buttons*/
.slick-arrow:hover {
  cursor: pointer;
}
 
 #fixed-bottom {
  background-color: #e7863c;
  opacity: 90%;
  height: 170px;
  margin: 0%;

  
 }


